doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
  // Styles will be loaded by webpack
  link(rel='shortcut icon' href='assets/favicon.jpg')
  meta(name='description' content='an uwulang dictionary')
  title uwulang dictionary
#main-wrapper
  header
    h1 uwulang dictionary
    p.subtitle search in english and uwulang!
  main
    #search-box
      input(type='text' id='search' autofocus='true' placeholder='õvò owowov' autocorrect='off' autocapitalize='off' spellcheck='false' autocomplete='off')
    .dictionary-words
      each word in dictionary
        .word
          .word-name=word.word
          ul.word-meanings
            each meaning in word.meanings
              li.meaning
                span.speech-type=meaning[0]
                span=meaning[1]
  footer
    .credits
      ul
        li
          a(target='_blank' rel="noopener" href='https://bucketfish.me/') uwulang fork by bucketfish
        li
          a(target='_blank' rel="noopener" href='https://github.com/jProgr/TokiPonaDictionary/issues') original tp dictionary by jprogr
        li
          a(target='_blank' rel="noopener" href='https://github.com/jProgr/TokiPonaDictionary/issues') report an issue
        li
          a(target='_blank' rel="noopener" href='https://docs.google.com/document/d/1ZV1U0S8qC6yJEi6grFO_Vq5A15lRVCLYeq_udWsC-9Y/edit') uwulang is a constructed language
  // JavaScript will be loaded by webpack
